* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
 background: linear-gradient(to bottom, rgb(59, 7, 74), rgb(222, 10, 165));
text-align: center;
}

.magic {
     margin-top: 30px;
     font-size: 4rem;
}

h1 {
    color: rgb(209, 203, 208);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vmin;
}
.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    
}
#box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 0.7rem;
    border: none;
    font-size: 13vmin;
    background-color: rgb(25, 5, 33);
    color: rgb(231, 227, 235);
}

#box:hover {
background-color: rgb(43, 4, 43);
}

#reset-btn {
    height: 6vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 3vmin;
    margin-top: 6vmin;
    margin-bottom: 4rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 244, 244);
}

#new-game-btn {
    height: 7vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 3vmin;
    background-color: black;
    color: antiquewhite;

}

#msg {
    color: rgb(255, 255, 255);
    font-size: 9vmin;
}



.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10vmin;
}

.hide {
    display: none;
}

@media (max-width: 1500px) {
  #reset-btn {
    margin-top: 7vmin;
}
}

@media (max-width: 1200px) {
.magic {
     margin-top: 20px;
     font-size: 5rem;
}
#reset-btn {
    margin-top: 7vmin;
}
.container {
    margin-top: 5vmin;
}
}

@media (max-width: 426px) {
.magic {
            margin-top: 15vmin;
        font-size: 2.4rem;
}
.container {
    margin-top: 20vmin;
}
#reset-btn {
               height: 12vmin;
        width: 38vmin;
        font-size: 6vmin;
        margin-top: 20vmin;
}
.msg-container {
    width: 62vw;
    margin-left: 5.5rem;
}
}

@media (max-width: 376px) {
  .magic {
     margin-top: 25vmin;
        font-size: 2.1rem;
}
.container {
    margin-top: 25vmin;
}
#reset-btn {
        height: 12vmin;
        width: 55vmin;
        font-size: 6vmin;
        margin-top: 20vmin;
}
.msg-container {
    margin-left: 4.5rem;
}
} 
@media (max-width: 321px) {
   .magic {
     margin-top: 30vmin;
        font-size: 2rem;
}
.container {
    margin-top: 35vmin;
}
#reset-btn {
        height: 12vmin;
        width: 55vmin;
        font-size: 6vmin;
        margin-top: 30vmin;
}
.msg-container {
    margin-left: 3.5rem;
}
} 

